<header class='top-page-header bg-light'>
  <!-- ナビゲーションメニュー -->
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand text-dark" href="#">Regular Guest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="customer-list nav-link text-dark" href="#">お客様一覧</a>
          </li>
          <li class="nav-item">
            <a class="customer-new nav-link text-dark" href="#">お客様登録</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="user-name nav-link text-dark" href="#">店舗名</a>
          </li>
          <li class="nav-item">
            <a class="logout nav-link text-dark" href="#">ログアウト</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

