
.search-bar-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #0d1edc;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

/* テーブルのスタイル */
table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* テーブルヘッダーのスタイル */
table th {
  background-color: #333333a1;
  color: #fff;
}

/* テーブルセルのスタイル */
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

/* リンクのスタイル */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}